
@{
    ViewBag.Title = "ContactFormGreetings";
}

<h2>ContactFormGreetings</h2>

<html>
<head>
    <title>User greetings</title>
</head>
<body>
    <br />
    <div>
        <h3>Hello @ViewBag.userName</h3>
    </div>
    <hr />
</body>
</html>